@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-secundario: #88bbe4;
  --color-principal: #b9e6f5;
  --color-fondo: #fcfaf9;
  --Textos: #000000;
}

.imgLogo{
    width: 130px;
    height: auto;
    padding-bottom: 5px;
}

.buscador{
    width: 25%;
    min-width: 250px;
}

.buscardor input{
    border-radius: 60px;
    padding: 12px 20px;
}